# Ignore Python cache and virtual environments
__pycache__/
*.pyc
.env/
.venv/
env/
*.sqlite3

# VSCode settings
.vscode/

# Data files
*.nc4
*.csv
*.json

# OS files
.DS_Store
Thumbs.db
